.image-picker {
    padding: 25px 25px 12px 0;
    display: flex;
    justify-content: center;
    span {
        color: #555555;
    }
    .ion-camera {
        font-size: 100pt;
    }
    .ion-plus {
        font-size: 30pt;
    }
}

.image-container {
    display: flex;
    justify-content: center;
    position: relative;
    img {
        height: 80%;
        width: 80%;
    }
    .badge {
        height: 25px;
        width: 25px;
        border-radius: 12.5px;
        box-shadow: 0px 2px 2px 0px #aaa;
        padding: 5px 0 0 0;
        position: absolute;
        right: 33px;
        top: -10px;
    }
}
