ion-header-bar.bar-gradient.bar-header,
.tab-nav.tabs {
    background-color: #1D949F;
    /* W3C */

    color: white;
    border: none;
    button, .buttons.button-right {
        color: white;
    }
}

.tab-nav.tabs {
    box-shadow: 0px 1px 7px #333333;
    a.tab-item.tab-item-active {
        color: white;
        border-width: 0px 0px 4px 0px !important;
        border-color: #105157;
    }
    a.tab-item.tab-item {
        color: white;
    }
}
