<ion-view class="view-animate">
    <ion-nav-title>
        Add Brew
    </ion-nav-title>
    <ion-nav-buttons side="primary">
        <button class="button button-clear button-assertive" ng-click="vm.close()">
            Close
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Brew Name</span>
                <input type="text" placeholder="Brew Name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Brewery</span>
                <input type="text" placeholder="Brewery">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Description</span>
                <input type="text" placeholder="Description">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive">Save Brew</button>
        </div>
    </ion-content>
</ion-view>
